<div class="container">
  <div class="row">
    need to make master map scope object
    <!-- map centered on USA this will be the default 
        stretch goal is to have a my location button
    // $scope.map = {center: {latitude: 40.1451, longitude: -99.6680 }, zoom: 4 };   -->

    
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
      <div ng-repeat="marker in markers">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </div>
  </div>
</div>
