<div class="modal-header">
  <div class="modal-title">
    <h3>{{disaster.name | capitalize}}</h3>
  </div>
</div>
<div class="modal-body">
  <div class="list-group">
    <a class="list-group-item">
      <h4 class="list-group-item-heading">{{disaster.type | capitalize}} - {{disaster.location}} - {{disaster.date | date:'MMM d, y'}}</h4>
      <p class="list-group-item-text">{{disaster.description}}</p>
    </a>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="close()">
    Close
  </button>
</div>

